applications:
- name: code-gov-harvester-v1.0.0
  memory: 200M
  instances: 1
  disk_quota: 200M
  health-check-type: process
  no-route: true
  buildpack: https://github.com/cloudfoundry/nodejs-buildpack
  env:
    ES_HEAP_SIZE: 10g
    CF_STAGING_TIMEOUT: 15
    CF_STARTUP_TIMEOUT: 15
    LOGGER_LEVEL: info
    GITHUB_AUTH_TYPE: token
    GITHUB_TOKEN: NOT_A_TOKEN
    GET_REMOTE_METADATA: true
    REMOTE_METADATA_LOCATION: https://raw.githubusercontent.com/GSA/code-gov-data/master/agency_metadata.json
    GET_GITHUB_DATA: true
    ELASTICSEARCH_SERVICE_NAME: code_gov_elasticsearch
    NODE_ENV: production
    TIME_ZONE: America/New_York
    DISABLE_OPENCOLLECTIVE: true
    SEND_STATUS_EMAIL: false
    SEND_SUMMARY_EVERYDAY: false
    EMAIL_SERVER: localhost
    EMAIL_SERVER_PORT: 25
    EMAIL_SERVER_SECURE: false
    EMAIL_SERVER_USER: no_user
    EMAIL_SERVER_PASSWORD: no_password
    EMAIL_FROM: somewhere@gsa.gov
    EMAIL_TO: someone@gsa.gov
    REPOS_INDEX_CRON_CONFIG: 0 17 * * *
    TERMS_INDEX_CRON_CONFIG: 0 18 * * *
    ISSUE_INDEX_CRON_CONFIG: 0 19 * * *
  services:
  - code_gov_elasticsearch
  stack: cflinuxfs3
  command: npm start
